<form method="post" action="{{ path('app_history_log_delete', {'id': history_log.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ history_log.id) }}">
	<button class="btn">Delete</button>
</form>
