{{ form_start(form_search) }}
{{ form_widget(form_search) }}

<button type="submit" class="btn btn-info">Zatwierdź</button>
<a class="btn btn-success" href="{{ path('app_history_log_index') }}">Pokaż wszystkie</a>
{{ form_end(form_search) }}

