{% extends 'base.html.twig' %}

{% block title %}Edit HistoryLog{% endblock %}

{% block body %}
    <h1>Edit HistoryLog</h1>

    {{ include('history_log/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_history_log_index') }}">back to list</a>

    {{ include('history_log/_delete_form.html.twig') }}
{% endblock %}
