{% extends 'base.html.twig' %}

{% block title %}New HistoryLog{% endblock %}

{% block body %}
    <h1>Create new HistoryLog</h1>

    {{ include('history_log/_form.html.twig') }}

    <a href="{{ path('app_history_log_index') }}">back to list</a>
{% endblock %}
